{% extends 'tienda/base.html' %}

{% block content %}
<div style="text-align: center;">
    <img src="https://img.freepik.com/fotos-premium/banner-herramientas-construccion-sobre-fondo-negro-fines-mejora-hogar_176841-18161.jpg?w=826" alt="Banner Principal" style="max-width: 100%; height: auto;">
</div>
<div style="text-align: center;">
    <img src="https://img.freepik.com/fotos-premium/herramientas-negras-sobre-fondo-negro-generadas-ia_201606-7139.jpg?w=740" alt="Banner Principal" style="max-width: 100%; height: 100%;">
</div>
<div style="text-align: center;">
    <img src="https://img.freepik.com/foto-gratis/conjunto-herramientas-kit-herramientas-aislado_1303-20319.jpg?t=st=1725166531~exp=1725170131~hmac=fb6efad2b3fe7245d0e80c8458fcb7734b54a55aab4459afaf3ad6ecacd18c51&w=740" alt="Banner Principal" style="max-width: 100%; height: 100%;">
</div>
{% endblock %}
