{% extends 'tienda/base.html' %}



{% block content %}
<div class="separador">
    <br>
</div>
<!-- Sección del carrousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/fotos-premium/banner-herramientas-construccion-sobre-fondo-negro-fines-mejora-hogar_176841-18161.jpg?w=826" class="d-block w-100" alt="Banner Principal" style="height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/fotos-premium/herramientas-negras-sobre-fondo-negro-generadas-ia_201606-7139.jpg?w=740" class="d-block w-100" alt="Banner Principal" style="height: 400px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/foto-gratis/conjunto-herramientas-kit-herramientas-aislado_1303-20319.jpg?t=st=1725166531~exp=1725170131~hmac=fb6efad2b3fe7245d0e80c8458fcb7734b54a55aab4459afaf3ad6ecacd18c51&w=740" class="d-block w-100" alt="Banner Principal" style="height: 400px; object-fit: cover;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Sección de imágenes separadas -->
    <div class="container mt-5">
        <!-- Contenedor de imágenes de marcas -->
        <div class="image-row">
          <div class="image-container">
            <img src="https://scontent.fros2-2.fna.fbcdn.net/v/t39.30808-6/351464011_791458782557592_3002125732459050194_n.png?_nc_cat=1&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Lk5anPjEqDgQ7kNvgGxv9Ut&_nc_ht=scontent.fros2-2.fna&_nc_gid=AcAWQpv0xhHWaPlNbS6wktj&oh=00_AYCaF0aj9Cccmyzf_qYCz59ZnvnDtJwYjfQabf_DCKgMjQ&oe=66DD9310" alt="Marca 1">
            <div class="overlay">Innovar para la vida de la gente es uno de los objetivos de Bosch. 
                Y esto no solo aplica a la hora de comercializar productos innovadores, sino de formar parte de proyectos que
                 mejoren la vida de las personas.</div>
          </div>
          <div class="image-container">
            <img src="https://scontent.fros2-2.fna.fbcdn.net/v/t39.30808-6/347254439_4730606873729970_8257680225728465064_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=UyrXys4A-awQ7kNvgEER1ph&_nc_ht=scontent.fros2-2.fna&_nc_gid=A7mB-0x6CrFxigBfzQWo7fv&oh=00_AYDeqMtH-yccY4OzQcKXhzyuwyNWuY4WW3uOrjlizTKRNg&oe=66DD7169" alt="Marca 2">
            <div class="overlay">Las herramientas de alimentación inalámula SKIL y los equipos de energía al aire libre están cubiertos
                por nuestra industria líder en garantía de 5 años. Así que puedes confiar en nosotros para entregar.</div>
          </div>
          <div class="image-container">
            <img src="https://scontent.fros2-2.fna.fbcdn.net/v/t39.30808-6/313283996_170004832346960_7623944581855258794_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Mw1n1sPU-S8Q7kNvgGKufSf&_nc_ht=scontent.fros2-2.fna&_nc_gid=AqZaROG6bIm9sQubKRo1GVK&oh=00_AYC412ubl_BJTjlIoxtLXAANibHkKbltnnUsBiddff4jEA&oe=66DD928E" alt="Marca 3">
            <div class="overlay">Dowen Pagio es el resultado de años de experiencia en el desarrollo y construcción de Herramientas Eléctricas, 
                reconocido como innovador y fabricante, que ha posicionado la marca como líder del mercado Argentino y de la Región.</div>
          </div>
        </div>
    
<!-- Separación entre imágenes y tarjetas -->
<div class="separation"><br></div>
<div class="separation2"><br></div>
<!-- Contenedor de tarjetas -->
<div id="acerca-de-mi" class="row">
    <h1>Informacion sobre el proyecto y su desarrollador</h1>
  <!-- Primera tarjeta -->
  <div class="col-md-4">
    <div class="card">
      <img src="https://www.actuia.com/wp-content/uploads/2022/01/logopython-768x333.png" class="card-img-top" alt="Imagen 1">
      <div class="card-body">
        <span class="badge bg-primary">Python</span>
        <h5 class="card-title">Lenguaje del proyecto</h5>
        <p class="card-text">Se utilizo Python con Django para la creacion de este proyecto. El cual es escalable
            y tendra mejoras constantes a futuro.
        </p>
      </div>
    </div>
  </div>

  <!-- Segunda tarjeta -->
  <div class="col-md-4">
    <div class="card">
      <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*ZXiKkqYHWVk1EMp2TJeDcw.png" class="card-img-top" alt="Imagen 2">
      <div class="card-body">
        <span class="badge bg-info">Django</span>
        <h5 class="card-title">Framework</h5>
        <p class="card-text">Django es un software que puede utilizar para desarrollar aplicaciones web de forma rápida y eficiente. La mayoría de las aplicaciones web tienen varias funciones comunes, como la autenticación, la recuperación de información de una base de datos y la administración de cookies.
        </p>
      </div>
    </div>
  </div>

  <!-- Tercera tarjeta -->
  <div class="col-md-4">
    <div class="card">
      <img src="https://scontent.fros2-1.fna.fbcdn.net/v/t39.30808-6/285021945_402536551773726_512168603564921420_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=uVTie_c2XNoQ7kNvgFyZ6P0&_nc_ht=scontent.fros2-1.fna&oh=00_AYDtldQ3iAYhQX74cZ_u8uy3zfO6Uy2-Ujqb7eFNPU8ROQ&oe=66E59A73" class="card-img-top" alt="Imagen 3">
      <div class="card-body">
        <span class="badge bg-primary">Desarrollador</span>
        <h5 class="card-title">Maximo Spagnoli</h5>
        <p class="card-text">Hola! Soy Maximo y me encargue de desarrollar esta web donde mi objetivo fue claro:
            Poder crear un servicio para diferentes tiendas, me enfoque en lo que es ferreteria donde hay mayor volumen de productos,
            cree interfaces y permisos para que el dueño de X negocio pueda generar sus productos y sus empleados puedas buscarlos
            teniendo toda la informacion disponible y para evitar problemas genere permisos de administrador para que en un acto error
            o de mala intencion quieran borrar o editar un prodcuto no puedan ser realizado a menos que lo haga un admin.
        </p>
        
      </div>
    </div>
  </div>
</div>
</div>



<!-- Contenedor de estilos -->
<style>
    html {
    scroll-behavior: smooth; /* Desplazamiento suave */
  }
    /* Estilos para las imágenes de marcas */
    .image-row {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
  
    .image-container {
        position: relative;
        width: 30%;
        overflow: hidden;
    }
  
    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
  
    .image-container:hover img {
        transform: scale(1.05);
    }
  
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.8);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
  
    .image-container:hover .overlay {
        opacity: 1;
    }
  
    /* Estilos para la separación entre imágenes y tarjetas */
    .separation {
        margin-top: 40px;
    }
  
    /* Estilos para las tarjetas */
    .card {
        margin-bottom: 30px;
    }
  </style>

<div class="separador">
    <br>
    <br>
    <br>
    <br>
</div>
<div class="s">
    <br>
</div>
{% endblock %}
